html {
  height: 100%;
}
body {
  height: 100%;
  padding-top: 50px;
  font: 14px Helevtica, Arial, sans-serif;
}
footer {
  width: 100%;
  background-color: #F2F2F2;
  height: 50px;
}
.navbar-icon {
  height: 32px;
}
.wrap {
  min-height: 100%;
  margin-bottom: -50px;
  /*allow elements after to overlap wrap in this case footer add couple pixels*/
  padding-bottom: 50px;
  /*add padding so footer won't overlap section body */
}
